<header class="site-header">
  <section class="primary-nav mod-desktopnav">
    <div class="container">
      <nav class="main-nav">
        <ul>
          <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa" aria-hidden="true">#</i></a></li>
        </ul>
      </nav>
      <a href="#" class="logo-center"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <form class="form-search">
        <label for="search" class="sr-only">Search</label>
        <input class="search-input" type="text" id="search" placeholder="Search" autocomplete="off">
        <span class="search-icon js-search-action">
          <button type="submit" class="fa fa-search">
            <span class="sr-only">Search Twitter</span>
          </button>
        </span>
      </form>
    </div>
  </section>
</header>
