<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{site.title}}</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{site.domain}}assets/css/libs.css">
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet"> 


  <!-- Custom styles for this template -->
  <link href="{{site.domain}}assets/css/style.css" rel="stylesheet">

</head>
