<div class="messages clearfix">
  <div class="error tuple col-4 mx-auto">
    <div class="fill"></div>
    <h3>Error: 230</h3>
    <p>Oops Something went wrong, please try again</p>
    <a href="#" class="btn btn-primary">Come back</a>
  </div>
  <div class="success tuple col-4 mx-auto">
    <div class="fill"></div>
    <h3>Well Done!</h3>
    <p>Thanks for subscribing to our newsletter.We are sending you are confirmation email</p>
    <a href="#" class="btn btn-secondary">Continue</a>
  </div>
</div>