<div class="container">
  <nav class="col-8 mx-auto">
	  <div class="main-nav tabs-nav mod-tabs">
	    <ul class="tabs-nav-list">
	      <li><a href="#tabs-1"><span class="label">Tweets</span><span class="count">200</span></a></li>
	      <li><a href="#tabs-2"><span class="label">Photos/Videos</span><span class="count">200</span></a></li>
	      <li><a href="#tabs-3"><span class="label">Following</span><span class="count">200</span></a></li>
	      <li><a href="#tabs-4"><span class="label">Followers</span><span class="count">1M</span></a></li>
	    </ul>
	  </div>
  </nav>
</div>

