<div class="col-8 mx-auto">
  <div class="twitter-feed">
    <div class="heading">
      <h4>Kerem Suer</h4>
      <span class="label">@Kerem</span>
      <span class="time">2 m</span>
    </div>  
    <img class="profile-image" src="{{site.domain}}assets/img/profile1.png">
    <p>
      Against a backdrop of comprehensive real estate experience and deep legal expertise, we invest time and effort in understanding your unique business needs.
    </p>
    <div class="social-share">
      <a href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
    	<a href="#"><i class="fa fa-refresh" aria-hidden="true"></i></a>
    	<a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
    </div>
    <div class="expand">
	    <a href="#"><i class="fa fa-expand" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
